* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
} 

.body {
  margin: 0;
  /* background-color: #d4b49b;
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png"); */
  background-size: 20px 20px;
  width: 60%;
  /* height: 100vh; */
  font-family: 'Handlee', cursive;
  background-image: 
    linear-gradient(to bottom, #d4b49b 1px, #e2c3a8 1px),
    linear-gradient(to top, grey 1px, #e2c3a8 1px);
    display: flex;
    flex-direction: column;
    
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  margin-top: 5px;
  align-items: flex-start;
  justify-content: center;
}

.sideScore {
  margin-top: 10px;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 0 30px;
  height: 50%;
  
}

.shape-wrapper {
  margin-top: 7px;
  display: flex;
  justify-content: top;
  align-items: center;
  /* margin-bottom: 20px; */
}

.score-wrapper{
  margin-top: 28px;
  /* border: 2px solid #86674f; */
  width: 130px;
}
button {
  all: unset;
  border: none;
  padding: 10px 20px;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  font-family: 'Handlee', cursive;
  font-size: 20px;
}
p{
  margin: 0;
}

.shape{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 80px;
  width: 80px;
}

.shape div {
  border: 1px solid #d4b49b;
  flex-grow: 1;
  height: 20px;
  width: 20px;
}

.grid-wrapper {
  margin-top: 10px;
  height: 100vh;
  display: flex;
  margin-right: 50px;
  height: 480px;
  border: 2px solid #86674f;
  border-top: none;
  align-items: center;

}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 480px;
  width: 240px;
  
}

.grid div {
  /* border: 1px solid #d4b49b; */
  flex-grow: 1;
  height: 4%;
  width: 8%;
}

.lShape {
  background-color:#d8473e;
  border: 1px solid #d4b49b;
}

.boxShape {
  background-color:#e2b911;
  border: 1px solid #d4b49b;
}

.Zshape {
  background-color:#dd4c46;
  border: 1px solid #d4b49b;
} 

.Sshape {
  background-color:#98aa2c;
  border: 1px solid #d4b49b;
}

.Ishape {
  background-color:#97aa9e;
  border: 1px solid #d4b49b;
}
.Tshape {
  background-color:#d98b8f;
  border: 1px solid #d4b49b;
}
.Lshape {
  background-color:#a17182;
  border: 1px solid #d4b49b;
}
.Jshape {
  background-color:#dd9433;
  border: 1px solid #d4b49b;
}

.buttonHide{
  display: none;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    h1 {
      margin: 0;
    }
    .grid {
      display: flex;
      flex-wrap: wrap;
      height: 360px;
      width: 180px;    
    }
    .grid-wrapper {
      margin-top: 14px;
      display: flex;
      width: 180px;
      height: 360px;
      border: 2px solid #86674f;
      border-top: none;
    
    }
    .grid div {
      /* border: 1px solid #d4b49b; */
      flex-grow: 1;
      height: 4%;
      width: 8%;
    }
    .body {
      margin: 0;
      /* background-color: #d4b49b;
      background-image: url("https://www.transparenttextures.com/patterns/notebook.png"); */
      background-size: 20px 20px;
      height: 100vh;
      font-family: 'Handlee', cursive;
      background-image: 
        linear-gradient(to bottom, #d4b49b 1px, #e2c3a8 1px),
        linear-gradient(to top, grey 1px, #e2c3a8 1px);
        display: flex;
        flex-direction: column;
        
    }
    .score-wrapper{
      margin-top: 19px;
      /* border: 2px solid #86674f; */
      width: 130px;
    }
}
