* {
  box-sizing: border-box;
}


body {
  margin: 0;
  /* background-color: #d4b49b;
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png"); */
  background-size: 20px 20px;
  height: 100vh;
  background-image: 
    linear-gradient(to bottom, #d4b49b 1px, #e2c3a8 1px),
    linear-gradient(to top, grey 1px, #e2c3a8 1px);
    display: flex;
}

.tetris-wrapper{
  display: flex;
  width: 90%;
  align-items: center;
  margin: auto;
}

.sideScore {
  width: 33vh;
  flex-grow: 1;
  height: 100vh;
  height: 480px;
  
}

.grid-wrapper {
  margin-top: 9px;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-grow: 2;
  height: 480px;
  border: 2px solid #86674f;
  border-top: none;

}

.grid {
  
  display: flex;
  flex-wrap: wrap;
  height: 480px;
  width: 240px;
}

.grid div {
/* 
  border: 1px solid #d4b49b; */
  flex-grow: 1;
  height: 20px;
  width: 20px;
}
