* {
  box-sizing: border-box;
}


body {
  margin: 0;
  /* background-color: #d4b49b;
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png"); */
  background-size: 20px 20px;
  height: 100vh;
  background-image: 
    linear-gradient(to bottom, #d4b49b 1px, #e2c3a8 1px),
    linear-gradient(to top, grey 1px, #e2c3a8 1px);
    display: flex;
}

.tetris-wrapper{
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.sideScore {
  margin-top: 10px;
  width: 33vh;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
  height: 480px;
  
}

.shape-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: top;
  align-items: center;
}

.shape{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 80px;
  width: 80px;
}

.shape div {
  border: 1px solid #d4b49b;
  flex-grow: 1;
  height: 20px;
  width: 20px;
}

.grid-wrapper {
  margin-top: 10px;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 480px;
  border: 2px solid #86674f;
  border-top: none;

}

.grid {
  
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  height: 480px;
  width: 240px;
}

.grid div {

  border: 1px solid #d4b49b;
  flex-grow: 1;
  height: 20px;
  width: 20px;
}

.lShape {
  background-color:#d8473e;
  border: 1px solid #2f1820;
}

.boxShape {
  background-color:#e2b911;
  border: 1px solid #2f1820;
}

.Zshape {
  background-color:#dd4c46;
  border: 1px solid #2f1820;
} 

.Sshape {
  background-color:#98aa2c;
  border: 1px solid #2f1820;
}

.Ishape {
  background-color:#97aa9e;
  border: 1px solid #2f1820;
}
.Tshape {
  background-color:#d98b8f;
  border: 1px solid #2f1820;
}
.Lshape {
  background-color:#a17182;
  border: 1px solid #2f1820;
}
.Jshape {
  background-color:#dd9433;
  border: 1px solid #2f1820;
}

